:root {
    --md-primary-fg-color: #9381FF;
    --md-accent-fg-color: #64B5F6;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: red; */
}

/* Main content styling */
.md-content h1 {
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, #9381FF, #64B5F6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.md-header {
    background: -webkit-linear-gradient(45deg, #9381FF, #64B5F6);
}

.md-tabs {
    background: -webkit-linear-gradient(45deg, #9381FF, #64B5F6);
}

.md-logo img {
    width: 10rem;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 3rem;
    width: auto;
}

@keyframes heartbeat {
    0%, 40%, 80%, 100% {
      transform: scale(1);
    }
    20%, 60% {
      transform: scale(1.15);
    }
}

.heartbeat {
    animation: heartbeat 1000ms infinite;
    transition: ease-in-out 0.5s;
}